{% if request.query('ajax') %}
{% set posts = post_list() %}
{% set data = { data: posts } %}
{% set postsJson = [] %}
{% for item in posts %}
{% set thumbnailFile = model_relation(item, 'thumbnailFile') %}
{% set thumbnailUrl = image_resize(300, thumbnailFile) ?: link_asset('images/das-1.png') %}
{% set subject = model_relation(item, 'subject') %}
{% set tag = model_relation(item, 'websiteTags')%}

{% set postsJson = postsJson|merge([
{
title: item.title,
slug: item.slug,
description: item.description,
url: link_to(item),
thumbnail_file_url: thumbnailUrl,
tags: tag,
meta: {
episodeCurrent: subject.getMetaValue('episode_current'),
title: subject.title,
year: subject.getMetaValue('year'),
quality: subject.getMetaValue('quality'),
}
}
])%}
{% endfor %}
{% set data = { data: postsJson } %}
{{ data|json_encode }}

{% else %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ pageTitle }}</title>

	{% if theme.dev_mode %}
	<link href="{{ link_asset('css/style.min.css') }}?t={{ time() }}" rel="stylesheet" type="text/css"/>
	{% else %}
	<link href="{{ link_asset('css/style.min.css') }}?v=9" rel="stylesheet" type="text/css"/>
	{% endif %}

	{% include 'components/common_css.html' %}
</head>
<body>

{% include 'partials/navbar.html' %}

<div>
	{{ block('content') }}
</div>

{% include 'partials/footer.html' %}

{% if theme.dev_mode %}
<script src="{{ link_asset('js/main.js') }}?t={{ time() }}" type="module"></script>
{% else %}

<script src="{{ link_asset('js/main.min.js') }}?v=9" type="module"></script>
{% endif %}

{% include 'components/common_js.html' %}
</body>
</html>
{% endif %}