{%set query = multikey_filter_post_query().where('visibility', '=', 'public').setFilterKeyMatchingType('all').sortBy('updated_at').sortDesc().setLimit(3)%}

{% set posts = multikey_filter_get_posts(query) %}

<section class="card-container">

	<div class="col-span-2 flex flex-col gap-4">

		{% include 'components/resources_card_1.html' with { resource: posts[0] } %}

		<div class="card-container-1">

			{% include 'components/list_resource.html' with { resources: posts|slice(1,2), resources_card: 'resources_card_2' } %}
		</div>
	</div>

	<div>
		{% include 'components/content_heading.html' with { title: "Most view" } %}

		<div class="card-container-2">

			{%set query = multikey_filter_post_query().where('visibility', '=',
			'public').setFilterKeyMatchingType('all').sortBy('views').sortDesc().setLimit(24)%}

			{% set posts = multikey_filter_get_posts(query) %}

			{% include 'components/list_resource.html' with { resources: posts|slice(0,4), resources_card: 'resources_card_3' } %}
		</div>
	</div>
</section>
