{% if resource %}

{% set thumbnailFile = model_relation(resource, 'thumbnailFile')%}
<div class="card-wrapper card-size-4 group">

	<img alt="{{resource.title}}" class="card-image" src="{{ image_url( thumbnailFile ) }}">

	<a href="{{link_post(resource)}}">
		<div class="card-linear"></div>
	</a>
	<div class="card-content">

		<a href="{{link_post(resource)}}">
			<p class="card-title-4">{{resource.title}}</p>
		</a>

		<p class="card-info">
			{% for websiteTag in model_relation(resource, 'websiteTags') | slice(0,1) %}
			<a class="card-info-tag" href="{{ link_to(websiteTag) }}">{{ websiteTag.name }}</a>
			{% endfor %}

			<span class="card-date"><svg class="card-date-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path clip-rule="evenodd"
								d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
								fill-rule="evenodd"/>
			</svg>{{ resource.created_at | date("j F Y") }}</span>
		</p>
	</div>
</div>{% endif %}