{%set query = multikey_filter_post_query().where('visibility', '=', 'public').setFilterKeys([data.id]).setFilterKeyMatchingType('all').sortBy('created_at').sortDesc().setLimit(24)%}

{% set posts = multikey_filter_get_posts(query) %}

<section class="card-container">
	<div class="col-span-2">

		{% include 'components/content_heading.html' with { title: "More in " ~ title } %}

		<div class="card-container-2">

			{% include 'components/list_resource.html' with { resources: posts, resources_card: 'resources_card_9' } %}

		</div>

		<div>
			{% include 'components/pagination_tailwind.html' with { count: multikey_filter_count(query) } %}
		</div>
	</div>

	{% include 'components/advertisement_section_3.html' %}
</section>